PORT=3000
HOST=127.0.0.1
APP_URL=http://127.0.0.1:3000

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=

DISCORD_ROLE_LARPER_PLUS_ID=

INVICTUSPAY_BASE_URL=https://api.invictuspay.app.br/api/public/v1
INVICTUSPAY_API_TOKEN=
INVICTUSPAY_PAYMENT_METHOD=pix
INVICTUSPAY_EXPIRE_IN_DAYS=1
INVICTUSPAY_WEBHOOK_SECRET=
INVICTUSPAY_POLL_INTERVAL_MS=15000
INVICTUSPAY_POLL_WINDOW_MS=1800000

INVICTUSPAY_OFFER_HASH_LARPER_PLUS=
INVICTUSPAY_PRODUCT_HASH_LARPER_PLUS=

DEFAULT_CUSTOMER_PHONE=11999999999
DEFAULT_CUSTOMER_DOCUMENT=00000000000
